// --------------------------------------------------
// Utilitie Classes
// --------------------------------------------------


//--------------------------------
// Text Utilities
//--------------------------------

.thin {font-weight: 200}

.center {text-align: center}

.muted {color: lighten($grey, 12)}

.hidden {display: none}

.visible {display: block}

.plus {
    text-align: center;
    font-size: 2em;
    color: grey;
    padding: 7px;
}

