// --------------------------------------------------
// Note
// --------------------------------------------------

.note {
    height: 62px;
    width: 188px;
    margin: 8px 0;
    padding: 8px;
    transition: all 0.4s ease;
	box-shadow: 3px 4px 5px 0px #999;
    &:hover {box-shadow: 3px 4px 5px 1px #999}
}

.add {
    border: 1px solid $light-grey;
	box-shadow: none;
    &:hover {background-color: lighten($light-grey, 12)}
}


// Note Color

.red {
    background-color: $red;
    &:hover {background-color: darken($red, 6)}
}

.yellow {
    background-color: $yellow;
    &:hover {background-color: darken($yellow, 6)}
}

.blue {
    background-color: $blue;
    &:hover {background-color: darken($blue, 6)}
}

.green {
    background-color: $green;
    &:hover {background-color: darken($green, 6)}
}

.purple {
    background-color: $purple;
    &:hover {background-color: darken($purple, 6)}
}

.pink {
    background-color: $pink;
    &:hover {background-color: darken($pink, 6)}
}